/*** Base ***/
:root {
  --theme-white: #ffffff;
  --theme-grey--light: #fafafa;
  --theme-grey: #ebebeb;
  --theme-grey--medium: #bab5b3;
  --theme-grey--dark: #707070;
  --theme-black: #000000;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/** 
 * 
 * MEDIA Queries
 *
 * - IDEA: 300, 600, 900, 1200, 1500
 *
 **/
/* Small devices */
/* @media (min-width: 576px) {} */

/* Medium devices */
/* @media (min-width: 768px) {} */

/* Large devices */
/* @media (min-width: 992px) {} */

/* Extra large devices */
/* @media (min-width: 1200px) {} */